.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

.card {
  margin: 0 2% !important;
}

.topCards {
  border-bottom: 10px solid rgb(93, 98, 181);
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-radius: 0px 0px 0px 0px;
}

.bottomCards{
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-radius: 0px 0px 0px 0px;
}

@media only screen and (max-width: 770px) {
  .card {
    margin: 2% 0 !important;
  }
}